{% extends "flights/base.html" %}

{% block title %}
    Flights
{% endblock title %}
<!DOCTYPE html>
{% block body%}
        <h1>Flights {{ flight.id }}</h1>
        <ul>
            <li>Origin: {{ flight.origin }}</li>
            <li>Destination: {{ flight.destination }}</li>
        </ul>
        <h2>Passengers</h2>
        <ul>
        {% for passenger in passengers  %}
            <li>{{  passenger  }}</li>
        {% empty %}
            <li>No Passenger</li>
        {% endfor %}
        </ul>
        <a href="{% url 'index' %}"> Back to full listing</a>
{% endblock body %}
